
h1 {
    font-family: monospace;
    text-align: center;
    background: #fffbcd;
}

h2 {
    font-family: monospace;
    text-align: center;
    background: #fff8dc;
}

h3 {
    font-family: monospace;
    text-align: center;
    background: #fff8dc;
}

body {
    padding: 20px;
    border: 20px groove #deb887;
    background: #111111;
    color: #111111;
}

p {
    padding: 2px;
    border: 2px groove #deb887;
    background: #fffbcd;
    color: #111111;
}

ul {
    padding: 2px;
    border: 2px groove #deb887;
    background: #fffbcd;
    color: #111111;
}

pre {
    padding-bottom: 20px;
    padding: 2px;
    border: 2px dotted #deb887;
    background: #fff8dc;
    color: #111111;
}
