
h1 {
    font-family: monospace;
    text-align: center;
    background: white;
}

h2 {
    font-family: monospace;
    text-align: center;
    background: #fff8dc;
}

h3 {
    font-family: monospace;
    text-align: center;
    background: #fff8dc;
}

body {
    padding: 20px;
    border: 20px groove #deb887;
    background: black;
    color: black;
}

p {
    padding: 2px;
    border: 2px groove #deb887;
    background: white;
    color: black;
}

ul {
    padding: 2px;
    border: 2px groove #deb887;
    background: white;
    color: black;
}

code {
    padding-bottom: 4px;
    padding: 2px;
    border: 2px dotted #deb887;
    background: #fff8dc;
    color: black;
}
